body {
    width: 650px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
#footer {
    font-size: 0.8em;
}

.thumbnail {
    width: 200px;
    margin: 5px;
}


.thumbnail img {
    max-width: 190px;
}
